<h1 style="text-align: center"><u>List Of Bookings</u></h1>
<br><br><br>


<%=link_to 'Create New Booking', new_booking_path,class: "btn btn-primary btn-lg" %>
<br><br>
<head>
  <style>
table, th, td {
border: 2px solid black;
  border-collapse: collapse;
}
  </style>
</head>
<table style="width: 100%">

  <tr>

    <td>Movie</td>
    <td>Rating</td>
    <td>Description</td>
  </tr>
  <% @bookings.each do |booking| %>
  <tr>

    <td><%= booking.Movie %></td>
    <td><%= booking.Rating%><%= '/10' %></td>
    <td><%= booking.Description %></td>
    <td><%=link_to 'Edit', edit_booking_path(booking),class: "btn btn-primary btn-lg" %></td>
    <td><%=link_to 'Show', booking_path(booking),class: "btn btn-primary btn-lg" %></td>
    <td><%=link_to 'Delete', booking_path(booking),class: "btn btn-primary btn-lg", method: :delete, data:{confirm: "Are you Sure?"} %> </td>
  </tr>
  <%end %>
</table>
<br><br><br><br>
<td><%=link_to 'Homepage', root_path,class: "btn btn-primary btn-lg" %></td>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<td><%=link_to 'About Us', about_path,class: "btn btn-primary btn-lg" %></td>
<br><br>