<h1 style="text-align: center"><u>List Of Bookings</u></h1>
<br><br><br>


<button type="button"><%=link_to 'Create New Booking', new_booking_path %> </button>
<br><br>
<head>
  <style>
table, th, td {
border: 1px solid black;
  border-collapse: collapse;
}
  </style>
</head>
<table style="width: 100%">

  <tr>
    <td>Movie</td>
    <td>Description</td>
  </tr>
  <% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.id %></td>
    <td><%= booking.Movie %></td>
    <td><%= booking.Description %></td>
    <td><button type="button"><%=link_to 'Edit', edit_booking_path(booking) %> </button></td>
    <td><button type="button"><%=link_to 'Show', booking_path(booking) %> </button></td>
    <td><button type="button"><%=link_to 'Delete', bookings_path(booking), method: :delete, data:{confirm: "Are you Sure?"} %> </button></td>
  </tr>
  <%end %>
</table>

<td><button type="button"><%=link_to 'Homepage', root_path %> </button></td>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<td><button type="button"><%=link_to 'About Us', about_path %> </button></td>
<br><br>