
<h1 style="text-align: center"><u> Create An Article</u> </h1>
<br><br><br><br>
<%= form_for @bookings, url:{action: "create"} do |b| %>

<p>
  <%= b.label :Movie %><br>
  <%= b.text_field :Movie %>
</p>

  <p>
    <%= b.label :Description %><br>
    <%= b.text_area :Description %>
  </p>

  <p>
    <%= b.submit %>
  </p>

<%end %>