
<h1 style="text-align: center"><u> Create An Article</u> </h1>
<br><br><br><br>

<% if @bookings.errors.any? %>
  <h2>The Following errors Occured</h2>
  <ul>
    <% @bookings.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <%end %>
  </ul>
  <%end %>

<%= form_for @bookings, url:{action: "create"} do |b| %>

<p>
  <%= b.label :Movie %><br>
  <%= b.text_field :Movie %>
</p>

  <p>
    <%= b.label :Description %><br>
    <%= b.text_area :Description %>
  </p>

  <p>
    <%= b.submit %>
  </p>

<%end %>