<h1 style="text-align: center"><u>Showing Data</u></h1>
<p>Movie= <%= @bookings.Movie %></p>
<p>Description= <%= @bookings.Description %></p>

<br>
<%=link_to 'Back', bookings_path,class: "btn btn-primary btn-lg" %>
<br><br>
<td><%=link_to 'Edit', edit_booking_path,class: "btn btn-primary btn-lg" %></td>

<td><%=link_to 'Homepage', root_path,class: "btn btn-primary btn-lg" %></td>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<td><%=link_to 'About Us', about_path,class: "btn btn-primary btn-lg" %></td>
<br><br>