<h1 style="text-align: center"><u>Showing Data</u></h1>
<p>Movie= <%= @bookings.Movie %></p>
<p>Description= <%= @bookings.Description %></p>

<br>
<button type="button"><%=link_to 'Back', bookings_path %> </button>
<br><br>
<td><button type="button"><%=link_to 'Edit', edit_booking_path %> </button></td>

<td><button type="button"><%=link_to 'Homepage', root_path %> </button></td>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<td><button type="button"><%=link_to 'About Us', about_path %> </button></td>
<br><br>