<!doctype html>
<html>
<head>
  <style>
    .text{
      font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
      text-align: center;
      font-size: 50px;
    }
    .link{
      font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
      text-align: center;
      font-size: 30px;
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  </style>
  <meta charset="utf-8">
  <title>Homepage</title>
</head>

<body>
<div class="center">
  <%= image_tag 'home logo.jpg' %>
</div>

<div>
  <table style="width:100%">
    <tr>
      <td><%= image_tag 't-01.jpg' %></td>
      <td><%= image_tag 't-02.jpg' %></td>
    </tr>
    <tr>
      <td><%= image_tag 't-03.jpg' %></td>
      <td><%= image_tag 't-04.jpg' %></td>
    </tr>
    <tr>
      <td><%= image_tag 't-05.jpg' %></td>
      <td><%= image_tag 't-06.jpg' %></td>
    </tr>
  </table>
</div>

<a href="about.html"><p class="link">About Us</p></a>
<br><br><br><br>
</body>
</html>
